.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
        span.a {
  display: inline; /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;  
  background-color:lightgray;
  }
      html {
        font-family: sans-serif;
      }

      body {
        margin: 0;
      }
      header {
        background: whitesmoke;
        height: 100px;
      }

      h1 {
        text-align: center;
        color: white;
        line-height: 100px;
        margin: 5px;
        width:50%;
        height:30%;
      }
      article {
        padding: 10px;
        margin: 10px;
        background: lightskyblue;
        background-image: url('paper.gif');
      }

      /* Add your flexbox CSS below here */

      section {
        display: flex;
      }
      .section > div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  height:1;
}
  button {
        flex: 1 auto;
        margin: 5px;
        font-size: 18px;
        line-height: 1.5;
      }
      
          .navbar {
  width: auto;
  height:auto;
  background-color: white;
  overflow:auto;
  float:left;
 }
 .flex-container1 {
  display: flex;
  flex-wrap: nowrap;
  background-color:lightskyblue;
}
.flex-container1 > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
  } 
  footer {
          padding: 10px 20px;
          background: #666;
          color: white;
        }
        .text {
          word-spacing: 150px;
        }
        body  {
    background-image: url("paper.gif");
    background-color: #cccccc;
  }
  .hero-image {
    background-image: url("C:\Users\maitr\Pictures\laptopimge_files\istockphoto-514273585-612x612.jpg");
    background-color: #cccccc;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  } 
  
  .flex-container2 {
    display: flex;
    height: 300px;
    flex-wrap:wrap ;
    align-content: flex-end;
    background-color: lightgoldenrodyellow;
  }
  
  .flex-container2> div {
    background-color: #f1f1f1;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
  } 
