#clockContainer{
    position:relative;
    margin:auto
    height:40vw;
    width:40 vw;
    background: url("clock.png")no-repeat;
    background-size: 50%;
}

#hour_hand{
    position:absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
    width:2%;
    height:25%;
    top:25%;
    left:48.8%;
}
#minute_hand{
    position:absolute;
    background: black;
    border-radius: 10%;
    width:2%;
    height:25%;
    top:25%;
    left:48.8%;

}
#second_hand{
    position:absolute;
    background: black;
    border-radius: 10%;
    width:2%;
    height:25%;
    top:25%;
    left:48.8%;

}